.table-products {
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    table {
        width: 100%;
        border-spacing: 0;
        tr {
            th {
                text-align: start;
                color: var(--title-color);
                &.sortable {
                    position: relative;
                    padding-inline-end: 1rem;
                    cursor: pointer;
                    user-select: none;
                    &:hover {
                        color: var(--primary-color);
                        .arrow {
                            &:not(.active) {
                                opacity: .25;
                            }
                            svg {
                                path {
                                    fill: var(--primary-color);
                                }
                            }
                        }
                    }
                    .arrow {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: .5rem;
                        margin: auto;
                        width: 10px;
                        height: 10px;
                        transition: .3s;
                        &:not(.active) {
                            opacity: 0;
                        }
                        &.active {
                            &.asc {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            td {
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                            line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            th,
            td {
                padding: 1rem .5rem;
            }
            th,
            &:not(:last-child) > td {
                border-bottom: solid 1px #ccc;
            }
        }
    }
    .no-data {
        text-align: center;
        padding: 1rem;
        color: #ccc;
    }
}