@import 'variables/root';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
}

@import './utilities/backgrounds';
@import './utilities/dimensions';
@import './utilities/display';