@import 'variables/root';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    margin-bottom: 1rem;
    &.no-gutter {
        margin-bottom: 0;
    
    }
}

.page-header {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

@import './utilities/backgrounds';
@import './utilities/dimensions';
@import './utilities/display';