.ui-icon {
    display: inline-flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    svg {
        width: inherit;
        height: inherit;
    }
    &.white {
        path {
            fill: white;
        }
    }
    &.primary {
        path {
            fill: var(--primary-color);
        }
    }
    &.warn {
        path {
            fill: var(--warn-color);
        }
    }
    &.error {
        path {
            fill: var(--error-color);
        }
    }
    &.muted {
        path {
            fill: var(--text-color);
            opacity: .5;
        }
    }
}