.ui-text-input {
    margin-top: .25rem;
    margin-bottom: .25rem;
    
    &-label {
        position: relative;
        display: flex;
        align-items: center;
        &-text {
            position: absolute;
            background-color: white;
            padding: 0 .5rem;
            margin-left: .5rem;
            transition: .3s;
        }
    
        &-field {
            width: 100%;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            &:focus,
            &.active {
                & + .ui-text-input-label-text {
                    transform: scale(.75) translate(calc(-25% + 1rem), -2rem);
                }
            }
            &:focus {
                & + .ui-text-input-label-text {
                    color: var(--primary-color);
                }
            }
            &:focus-visible {
                outline-color: var(--primary-color);
            }
        }
    }

    &-details {
        padding: .5rem 0;
        font-size: .75rem;
        color: var(--error-color);
    }

    + .ui-button,
    + .ui-text-input {
        margin-inline-start: .75rem;
    }
}